@page
@model IndexModel

<form method="post" enctype="multipart/form-data">
    <div>
        <label for="file">Виберіть файл:</label>
        <input type="file" name="file" id="file" />
    </div>
    <div>
        <button type="submit">Завантажити файл</button>
    </div>
</form>
